/* reset body */
body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.header {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

    .header .content {
        font-size: 40px;
        font-weight: 400;
    }

    .header .btn_code {
        position: absolute; /* จัดให้อยู่ในรูปซ้ายขวาต้องใช้ positon absoulte แล้วตามด้วย ด้านที่ต้องการ*/
        left: 85%;
        width: 300px;
    }

.table_add {
    margin-top: 20px;
    margin-left: 40px;
}

    .table_add .add_result {
        font-size: 20px;
        font-weight: 400;
    }

    .table_add .table {
        width: 95%;
        align-items: center;
    }

.confirm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

    .confirm #confirm {
        background-color: green;
        width: 300px;
    }

.btn_code #add {
    background-color: green;
}
