<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout</title>


    <link rel="stylesheet" href="/css/styleCreateMainAccount.css">
    <!---Bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div class="header">
            <div class="content">
                <p>Create Main Acoount</p>
            </div>
            <div class="btn_code">
                <button type="button" class="btn btn-primary btn-lg" id="addMainAccount">Add Main Account</button>
            </div>
        </div>
    </section>
    <section class="table_add">
        <div class="add_result">
            <p>ResultAccount</p>
        </div>
        <table class="table table-hover" id="table_MainAccount">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">MainAccount</th>
                    <th scope="col">Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Del</th>
                </tr>
            </thead>
        </table>
    </section>
    <section>
        <div class="confirm" id="button_confirm">
            <button type="button" class="btn btn-primary btn-lg" id="confirm">Confirm</button>
        </div>
    </section>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/common.js"></script>
<script src="~/js/createMainAccount.js"></script>