<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Layout</title>
    <link rel="stylesheet" href="/css/styleSerachPage.css">
    <!---Bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="serach_box">
        <div class="headcontent">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Serach Accounting</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>TagVoucher</p>
                    </div>
                    <div class="col-3">
                        <p>MainAccount</p>
                    </div>
                    <div class="col-3" id="date_to">
                        <p>DateTimeTo *</p>
                    </div>
                    <div class="col-3" id="date_from">
                        <p>DateTimeFrom *</p>
                    </div>
                </div>
                <div class="row" id="input_type">
                    <div class="col-3">
                        <input type="search" id="input_serach">
                    </div>
                    <div class="col-3">
                        <select name="code" id="code">
                            <option value="null" selected></option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="date" id="input_dateTo">
                    </div>
                    <div class="col-3">
                        <input type="date" id="input_dateFrom">
                    </div>
                </div>
                <div class="row" id="button">
                    <div class="col-6" id="button_serachAcc">
                        <button class="btn btn-primary" type="button" id="button_search">Search</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" type="button" id="button_clear">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_table">
            <div class="container">
                <div class="row result_serach">
                    <div class="col-3"><h4>Search Result</h4></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3" id="export_file">
                        <button class="btn btn-primary" type="button" id="button_export">ExportExcel</button>
                    </div>
                </div>
                <div id="search_result">
                    <table class="table table-hover" id="table_searchResult">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">TagVocher</th>
                                <th scope="col">CodeVoucher</th>
                                <th scope="col">Date</th>
                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Debit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="cal">
            <div class="container">
                <div class="text_cal">
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-3">
                            <p>credit</p>
                        </div>
                        <div class="col-3">
                            <p>debit</p>
                        </div>
                        <div class="col-3">
                            <p>Sum Total</p>
                        </div>
                    </div>
                    <div class="input_cal">
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-3">
                                <input type="text" name="credit" id="credit" disabled>
                            </div>
                            <div class="col-3">
                                <input type="text" name="debit" id="debit" disabled>
                            </div>
                            <div class="col-3">
                                <input type="text" name="total" id="total" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/common.js"></script>
<script src="~/js/serach.js"></script>
