<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Layout</title>
    <link rel="stylesheet" href="/css/styleSerachPage.css">
    <!---Bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!----TempusDominus-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
</head>
<body>
    <div class="serach_box">
        <div class="headcontent">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Serach Accounting</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p>Description</p>
                    </div>
                    <div class="col-3">
                        <p>Code</p>
                    </div>
                    <div class="col-3">
                        <p>DateTimeTo</p>
                    </div>
                    <div class="col-3">
                        <p>DateTimeFrom</p>
                    </div>
                </div>
                <div class="row" id="input_type">
                    <div class="col-3">
                        <input type="search" id="button_serach">
                    </div>
                    <div class="col-3">
                        <select name="code" id="code">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="date" id="input_dateTo">
                    </div>
                    <div class="col-3">
                        <input type="date" id="input_dateFrom">
                    </div>
                </div>
            </div>
        </div>
        <div class="content_table">
            <div class="container">
                <div class="result_serach"><h4>Serach Result</h4></div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">TagVocher</th>
                            <th scope="col">Date</th>
                            <th scope="col">Code</th>
                            <th scope="col">Description</th>
                            <th scope="col">Credit</th>
                            <th scope="col">Debit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>00001</td>
                            <td>16/12/2022</td>
                            <td>5001</td>
                            <td>ค่าบริการ</td>
                            <td>0</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>00002</td>
                            <td>16/12/2022</td>
                            <td>5002</td>
                            <td>ค่าขนส่ง</td>
                            <td>0</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>00003</td>
                            <td>16/12/2022</td>
                            <td>5003</td>
                            <td>ค่าทางด่วน</td>
                            <td>0</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th colspan="5">Summary</th>
                            <td colspan="1">10</td>
                            <td colspan="1">100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cal">
            <div class="container">
                <div class="text_cal">
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-3">
                            <p>credit</p>
                        </div>
                        <div class="col-3">
                            <p>debit</p>
                        </div>
                        <div class="col-3">
                            <p>Sum Total</p>
                        </div>
                    </div>
                    <div class="input_cal">
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-3" id="credit">
                                <input type="text" name="credit" id="credit" disabled>
                            </div>
                            <div class="col-3">
                                <input type="text" name="debit" id="debit" disabled>
                            </div>
                            <div class="col-3">
                                <input type="text" name="total" id="total" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/serach.js"></script>