@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@ViewData["name"]</p>
    <h1>@ViewData["result"]</h1>
    <p>Customer</p>
    <div>
        <a href="/Serach/ExportExcel">EX</a>
    </div>
    <h1>@ViewData["customer"]</h1>
</div>
